@page
@using Microsoft.Extensions.Localization;
@model ForgotPasswordConfirmation
@inject IStringLocalizer<ForgotPasswordConfirmation> localizer
@{
    ViewData["Title"] = localizer["confirmation"];
}

<h1>@ViewData["Title"]</h1>
<p>
    @localizer["check"]
</p>
