@page
@using Microsoft.Extensions.Localization;
@model ResetPasswordConfirmationModel
@inject IStringLocalizer<ResetPasswordConfirmationModel> localizer
@{
    ViewData["Title"] = localizer["title"];
}

<h1>@ViewData["Title"]</h1>
<p>
    @localizer["resetconfirmed"] <a asp-page="./Login"> @localizer["clickhere"]</a>.
</p>
